@keyframes active-bullet {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 26px;
        height: 26px;
    }
}

@keyframes show-slide-info {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
