@include font("Gilroy", "Gilroy-Bold", "700", "normal");
@include font("Gilroy", "Gilroy-SemiBold", "600", "normal");
@include font("Gilroy", "Gilroy-Medium", "500", "normal");
@include font("Gilroy", "Gilroy-Regular", "400", "normal");
@include font("icon", "icon", "normal", "normal");

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
    content: "\e900";
}
.icon-cart:before {
    content: "\e901";
}
.icon-favorite:before {
    content: "\e902";
}
.icon-location:before {
    content: "\e903";
}
.icon-phone:before {
    content: "\e904";
}
.icon-search:before {
    content: "\e905";
}
.icon-send:before {
    content: "\e906";
}
.icon-share:before {
    content: "\e907";
}
.icon-slide-arrow:before {
    content: "\e908";
}
