.header {
    padding: rem(40) 0 rem(56) 0;
    @include first-page-bg;
    &__container {
        @include flex-center-start;
        @include adaptive("gap", 40, 15, 1);
    }

    &__logo {
        font-weight: 700;
        font-size: rem(24);
        line-height: 1.2;
        color: #000000;
        @include hover-link;
    }

    &__search {
        flex: 1 1 auto;
    }
    @include tablet {
        &__container {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__logo {
            order: 1;
        }
        &__user {
            display: none;
        }
        .burger {
            order: 4;
        }
        &__search {
            order: 2;
        }

        &__nav {
            display: none;
            order: 5;
        }
    }

    @include mobile {
        &__container {
            justify-content: flex-end;
        }
        &__logo {
            flex: 1 1 auto;
            order: 1;
        }
        &__user {
            order: 2;
        }
        .burger {
            order: 3;
        }
        &__search {
            display: none;
        }
        &__search.mobile {
            display: block;
            order: 4;
            flex: 0 1 100%;
            .search-form__input {
                min-width: 100%;
            }
        }

        &__nav {
            order: 5;
        }
    }

    &.mobile {
        position: fixed;
        overflow-y: scroll;
        z-index: 90;
        width: 100%;
        height: 100vh;
        top: 0px;
        left: 0px;
    }
}
