.hero-swiper {
    &__wrapper {
        justify-content: space-between;
    }
    &__button {
        position: absolute;
        font-size: rem(10);
        width: rem(48);
        height: rem(48);
        top: rem(10);
        border-radius: 50%;
        z-index: 3;
        &::before {
            transform: translateY(rem(2));
        }
        &--next {
            right: rem(18);
            transform: rotate(270deg);
        }

        &--prev {
            right: rem(75);
            transform: rotate(90deg);
        }

        @include minitablet {
            top: auto;
            bottom: rem(-60);

            &--prev {
                right: auto;
                left: 18px;
            }
        }
    }
    &__pagination {
        position: absolute;
        z-index: 3;
        top: rem(29);
        @include adaptiveMinWidth("left", 650, 520, 768);
        transform: translateX(-50%);

        @include minitablet {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateX(0);
            left: 0;
        }
    }
}
