.swiper-pagination-bullets {
    display: flex;
    gap: rem(20);
}

.swiper-pagination-bullet {
    width: rem(12);
    height: rem(12);
    background-color: #d8d8d8;
    border-radius: 50%;
    position: relative;
    z-index: 3;
    cursor: pointer;
    @include transition;
    &:hover {
        @include transition;
        background-color: var(--color-primary);
    }
}

.swiper-pagination-bullet-active {
    @include transition;
    background-color: var(--color-primary);
    &::before {
        content: "";
        animation: active-bullet 0.2s linear;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        border: 1px var(--color-primary) solid;
        border-radius: 50%;
        width: rem(26);
        height: rem(26);
        z-index: 4;
        @include transition;
    }
}
