.rooms-slider {
    min-height: 582px;
    position: relative;
    &__slide {
        flex: 0 0 370px;
        height: 486px;
        position: relative;
        @include transition;
        @include mobile {
            flex: 0 0 100%;
        }

        &.swiper-slide-active {
            flex: 0 0 404px;
            height: 582px;
            margin-left: 45px;

            @include transition;
            .rooms-slider__description {
                opacity: 1;
                animation: show-slide-info 0.3s linear;
            }

            @include tablet {
                margin-left: 0px;
            }
            @include mobile {
                flex: 0 0 100%;
                height: 486px;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
            @include full-img;
        }
    }

    &__description {
        opacity: 0;
        position: absolute;
        z-index: 2;
        padding: rem(32);
        left: rem(24);
        bottom: rem(24);
        max-width: rem(200);
        max-height: 50%;
        @include opacity-bg;

        @include mobile {
            max-width: 100%;
            left: 0;
            bottom: 0;
        }
        &::after {
            content: "";
            width: rem(48);
            height: rem(48);
            background-color: var(--color-primary);
            background-image: url(../img/arrow-light.svg);
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            z-index: 3;
            bottom: 0px;
            right: rem(-48);
            @include transition;
            cursor: pointer;
            @include mobile {
                display: none;
            }
        }

        &:hover {
            &::before {
                @include transition;
                opacity: 1;
            }
        }
    }

    &__pagination {
        position: absolute;
        bottom: rem(38);
        left: 50%;
        transform: translateY(-50%);
        display: flex;
        gap: rem(20);
        z-index: 3;
        @media (max-width: 1280px) {
            left: auto;
            right: 20px;
            transform: translateY(0);
        }
        @include mobile {
            display: none;
        }
    }
}
